---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: Remove unbound and config when pihole_enable_unbound is false. Also ends role.
  ansible.builtin.import_tasks: remove_unbound.yml
  when: not pihole_enable_unbound

- name: Set this host's netblock into a fact
  ansible.builtin.set_fact:
    ipv6_netblock: "{{ hostvars[inventory_hostname]['ipv6_netblock'] | default('NONE') }}"

- name: Debug the variable
  ansible.builtin.debug:
    msg: "netblock is {{ ipv6_netblock }}"

- name: "Unset required sysctl config to allow non-local ipv6 binds"
  ansible.posix.sysctl:
    name: "net.ipv6.ip_nonlocal_bind"
    state: absent
    reload: true

- name: Include tasks to configure netblock if a netblock is configured
  ansible.builtin.import_tasks: add_ipv6_netblock.yml
  when: ipv6_netblock != 'NONE'

- name: Install unbound
  ansible.builtin.apt:
    name: unbound
    state: present

- name: Enable unbound
  ansible.builtin.systemd_service:
    name: unbound
    enabled: true
    masked: false

- name: Create unbound config
  ansible.builtin.template:
    dest: /etc/unbound/unbound.conf
    src: unbound-for-pi-hole.conf.j2
    mode: "0644"
  notify: Restart unbound service

- name: Flush handlers to restart immediately
  ansible.builtin.meta: flush_handlers

- name: Ensures /etc/dnsmasq.d dir exists
  ansible.builtin.file:
    path: /etc/dnsmasq.d
    state: directory
    mode: "0644"

- name: Create 99-edns.conf config
  ansible.builtin.copy:
    src: 99-edns.conf
    dest: /etc/dnsmasq.d/99-edns.conf
    mode: "0644"
  notify: Restart unbound service

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Disable unbound-resolvconf service if exists
  ansible.builtin.systemd_service:
    name: unbound-resolvconf
    enabled: false
  when: "'unbound-resolvconf.service' in ansible_facts.services"

- name: Check if resolvconf.conf exists
  ansible.builtin.stat:
    path: /etc/resolvconf.conf
  register: resolvconf
  changed_when: false

- name: Check if unbound resolvconf_resolvers.conf exists
  ansible.builtin.stat:
    path: /etc/unbound/unbound.conf.d/resolvconf_resolvers.conf
  register: unbound_resolvconf
  changed_when: false

- name: Disable the file resolvconf_resolvers.conf
  ansible.builtin.lineinfile:
    path: /etc/resolvconf.conf
    regexp: '^unbound_conf='
    line: '#unbound_conf='
  when: resolvconf.stat.exists

- name: Remove unbound resolvconf_resolvers.conf
  ansible.builtin.file:
    path: /etc/unbound/unbound.conf.d/resolvconf_resolvers.conf
    state: absent
  when: unbound_resolvconf.stat.exists
  notify: Restart unbound service

- name: Check if unbound service is running
  ansible.builtin.systemd_service:
    name: unbound
    state: restarted
  register: unbound_status
  retries: 10
  delay: 5
  until: unbound_status.status.ActiveState == 'active'

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
